.container-fluid {
  padding: 0;
}

/* debug */
[class*="col-"] {
  /* background-color: pink; */
  min-height: 100px;
  border: 1px solid black;
}

/* centratura blocchi */
.centratura {
  padding: 0 10%;
}

/* header + navbar */
header .navbar-default {
  background-color: white;
  border-radius: 0;
  border: none;
}

header .navbar-brand > img {
  max-height: 100%;
}


header .navbar-default .navbar-nav>li>a {
  color: black;
}

header .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  color: black;
  background-color: white;
}

header .btn-default {
  color: blue;
  border-color: blue;
}


/* jumbo */
#sfondojumbo {
  background-image: url("../img/home.jpg");
  background-size: cover;
  max-height: 100%;
}

#jumbosx {
  color: white;
  padding: 0 20px;
  font-size: 15px;
}

#jumbosx h1 {
  font-weight: bold;
}

#jumbodx {
  margin: 25px 0;
  background-color: white;
  padding: 10px 20px;
  text-align: center;
}

#jumbodx h4 {
  font-weight: bold;
}

#jumbodx > h4:nth-child(2) {
  color: blue;
}

#jumbodx .btn-primary {
  text-align: center;
  width: 100%;
}

#jumbodx .text-uppercase {
  text-transform: none;
}

#jumbodx .btn-google {
  color: black;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 13px;
  font-size: 12px;
}

#privato {
  display: block;
  text-align: center;
}

#privato > a {
  color: blue;
  text-decoration: underline;
}

/* sfondo grigio */

.sfondo_grey {
  background-color: rgb(243, 245, 249);
}

/* sezione partners */
#titolo_partners h4 {
  font-size: 15px;
  color: grey;
  font-weight: bold;
  text-align: center;
  margin: 30px 20px;
}

.linkblu {
  text-align: center;
  margin: 20px 0;
}

.linkblu a {
  color: blue;
  font-weight: bold;
}

/* titoli comuni a più section */

.titoli {
  text-align: center;
}

.titoli h2, p {
  font-weight: bold;
}

.titoli p {
  color: grey;
}

/* sezione deploy */

.linkdeploy {
  margin-left: 50px;
  margin-top: 30px;
  border-left: 2px solid grey;
}
.linkdeploy a{
  color: grey;
  margin: 10px 5px;
  font-size: 15px;
  display: block;
}

.deploydx {
  margin-top: 30px;
}

.deploydx > img {
  max-height: 30px;
}
.deploydx p {
  font-size: 12px;
  font-weight: normal;
  color: grey;
}


/* sezione create account */
.sfondo_blu {
  background-color: rgb(0, 52, 174);
}

#iscriviti {
  text-align: center;
}

#iscriviti h4 {
  color: white;
  font-weight: bold;
}

#iscriviti .btn-default {
  color: blue;
  border-color: blue;
  font-weight: bold;
}

.carousel-inner p {
 text-align: center;
}

/* sezione carousel2 */
.carousel-inner {
  text-align: center;
}

.carousel-inner #contenuto > img {
  max-width: 150px;
}

.carousel-inner #contenuto > span {
  display: block;
}

.carousel-inner #contenuto > p {
  color: grey;
}




/* footer */

.sfondo_scuro {
  background-color: rgb(3, 28, 78);
}

.footerdx {
  margin-top: 50px;
  margin-bottom: 20px;
  color: grey;
}

.footerdx p {
  margin: 20px 0;
  font-weight: normal;
  color: grey;
}

.footerdx span {
  color: rgb(48, 68, 108);
  font-size: 13px;
}

/* footersx */
.lista_footer a {
  display: block;
  color: grey;
  font-size: 13px;
  margin-top: 10px;
}

.footersx {
  margin-top: 50px;
  margin-bottom: 20px;
}
.footersx h5 {
  color: white;
  font-weight: bold;
}



@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

}
